<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADIFITNESS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="">
        <a href="#" class="navbar-brand logo me-4">

        <img
              src="/img/download.jpg" class="img img-fluid" width="100" height="100"
              alt="webm" loading="lazy" />
        </a>
      </div>
      <div class="adi-logo">ADIFITNESS</div>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#contact">Contact us</a></li>
        <li><a href="#trusted by">Trusted by</a></li>
        <li><a href="#about us">About us</a></li>
      </ul>
    </nav>
  </header>

  <section id="home" class="hero-section">
    <img src="" alt="">
    <h1>Welcome to ADIFITNESS</h1>
    <p>Learn how to stay healthy and build your fitness.</p>
    <button id="cta-button">Click Me!</button>
  </section>

  <section id="features" class="features-section">
    <h2>Features</h2>
    <div class="features-grid">
      <div class="feature">
        <h3>Contact</h3>
        <p>Connect with us using website and phone number.</p>
      </div>
      <div class="feature">
        <h3>Free Content</h3>
        <p>Fuel your body, ignite your soul.</p>
      </div>
      <div class="feature">
        <h3>Client Testimonials</h3>
        <p>A good testimonial is short. Long testimonials are unlikely to be read by visitors.</p>
      </div>
      <div class="feature">
        <h3>Client Transformation</h3>
        <p>Helping you reach your fitness goals.</p>
      </div>
      <div class="feature">
        <h3>Socials</h3>
        <p>Strive for progress, not perfection.</p>
      </div>
    </div>
  </section>

  <section id="contact" class="contact-section">
    <h2>User Login</h2>
    <a class="btn btn-primary" href="/register" role="button">Register</a>
    <a class="btn btn-primary" href="/login" role="button">Login</a>
    </form>
  </section>

  <footer>
    <p>&copy; 2024 ADIFITNESS. All Rights Reserved.</p>
  </footer>

  <script src="script.js"></script>
</body>

</html>